IndentWidth: 4
TabWidth: 4

Language: Cpp
Standard: Cpp11
BasedOnStyle: Google
# indent
AccessModifierOffset: -4
ContinuationIndentWidth: 8
# align
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: false
AlignAfterOpenBracket: false
ColumnLimit: 120
# constructor
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerIndentWidth: 8
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# short block
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
Cpp11BracedListStyle: true
# other
AlwaysBreakTemplateDeclarations: true
DerivePointerAlignment: false
PointerAlignment: Left

# clang-format 3.9+
SortIncludes: true
BreakStringLiterals: false
ReflowComments: true

# custom
IncludeCategories:
# Matches common headers first, but sorts them after project includes
- Regex: '^<.*.h>'
  Priority: 1
- Regex: '^<.*.hpp>'
  Priority: 2
- Regex: '^<[^/]*>'
  Priority: 2
- Regex: '^"dpca-psi/.*'
  Priority: 4
- Regex: '^"ppam/.*'
  Priority: 4
- Regex: '^".*'
  Priority: 3
